<div class="-left-[100%] md:left-0 top-0 h-dvh w-60 bg-neutral-700 fixed sidebar border-r border-neutral-400">
    <div
        class="h-13 w-full text-white flex items-center justify-center border-b border-neutral-400 relative">
        <button class="absolute top-1 right-1 md:hidden sidebar-close">
            <i data-feather="x" class="text-neutral-400" width="20px"></i>
        </button>

        <a href="{% url "home" %}" class="font-bold text-lg hover:opacity-80"
            >Income Expenses</a
        >
    </div>

    <ul class="p-2 text-gray-200 text-md">
        <li class="py-1">
            <a href="" class="flex items-center gap-2 p-2 rounded hover:bg-zinc-800"><i data-feather="dashboard" class="text-zinc-300"></i><span>Dashboard</span></a>
        </li>

        <li class="py-1">
            <a href="" class="flex items-center gap-2 p-2 rounded hover:bg-zinc-800"><i data-feather="user" class="text-zinc-300"></i><span>Expenses</span></a>
        </li>

        <li class="py-1">
            <a href="" class="flex items-center gap-2 p-2 rounded hover:bg-zinc-800"><i data-feather="user" class="text-zinc-300"></i><span>Income</span></a>
        </li>
    </ul>

    <span class="mt-3 mb-2 px-2">SUMMARY</span>

    <ul class="p-2 text-gray-200 text-md">
        <li class="py-1">
            <a href="" class="flex items-center gap-2 p-2 rounded hover:bg-zinc-800"><i data-feather="dashboard" class="text-zinc-300"></i><span>Expenses Summary</span></a>
        </li>

        <li class="py-1">
            <a href="" class="flex items-center gap-2 p-2 rounded hover:bg-zinc-800"><i data-feather="user" class="text-zinc-300"></i><span>Income Summary</span></a>
        </li>

    </ul>
</div>
